{% extends 'base.html' %}

{% load orders_filters %}

{% block body %}

    <div>
        <ul>
            <li>
                Id заказа: {{ order.order_id }}
            </li>
            <li>
                Номер стола: {{ order.order_table }}
            </li>
            <li>
                Позиции:
                <ul>
                    {% for item in order.items %}
                        <li>{{ item.title }} - {{ order.item_quantity_dict|get:item.dish_id }} шт. по {{ order.item_price_dict|get:item.dish_id }}</li>
                    {% endfor %}
                </ul>
                {% if order.order_status == 0 %}
                    <a href="{% url 'orders:change-order-items' order.order_id %}">Изменить блюда в заказе</a>
                {% endif %}

            </li>
            <li>
                Общая стоимость: {{ order.order_total_price }} Р
            </li>
            <li>
                Статус заказа: {{ order.order_status_display }}
            </li>
        </ul>
    </div>

    <form method="post" action="{% url 'orders:order_delete' order.order_id %}">
        {% csrf_token %}
        <button>Удалить заказ</button>
    </form>

    <form method="post" action="{% url 'orders:order_change_status' order.order_id %}">
        {% csrf_token %}
        {% if order.order_status != 0 %}
            <button>Перевести в ожидание</button>
        {% endif %}
        {% if order.order_status != 1 %}
            <button name="ready">Заказ готов!</button>
        {% elif order.order_status != 2 %}
            <button name="paid">Заказ оплачен!</button>
        {% endif %}
    </form>
{% endblock %}
