{% extends 'base.html' %}
{% load static %}

{% load orders_filters %}

{% block body %}
    <div>
        <form id="selectForm" method="post">
            {% csrf_token %}

            <ul>
                <h3>Присутствуют в заказе:</h3>
                {% for dish in order.items.all %}
                    <li>
                        <input type="checkbox" name="items" checked id="checkbox_{{ dish.pk }}" value="{{ dish.pk }}">
                        <label for="checkbox_{{ dish.pk }}">{{ dish.title }} - {{ dish.price }}</label>
                        {% if form_dict|get:dish.pk %}
                            <div>
                                {{ form_dict|get:dish.pk }}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <ul>
                <h3>Можно добавить:</h3>
                {% for dish in dishes %}
                    <li>
                        <input type="checkbox" id="checkbox_{{ dish.pk }}" name="items" value="{{ dish.pk }}">
                        <label for="checkbox_{{ dish.pk }}">{{ dish.title }} - {{ dish.price }} Р</label>
                        <div>
                            <label for="id_item_{{ dish.pk }}">Количество блюд в заказе</label>
                            <input type="number" value="1" min="0" id="id_item_{{ dish.pk }}" name="item_{{ dish.pk }}-quantity">
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <button type="submit">Сохранить</button>
        </form>

        <div>


        </div>
    </div>
{% endblock %}
